{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock %}</title>

    {# Tailwind CSS #}
    {% tailwind_css %}

    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">

    {# Fonts: Pilcrow Rounded + Archivo @Fontshare.com #}
    <link href="https://api.fontshare.com/v2/css?f[]=archivo@1,2&f[]=pilcrow-rounded@1&display=swap" rel="stylesheet">
</head>
<body>
{# Body of the page #}
{% block content %}

{% endblock %}

{# Extra javascript #}
{% block javascript %}

{% endblock %}
</body>
</html>