{% extends 'core/base.html' %}
{% load static tailwind_tags %}

{# Title of the page #}
{% block title %}
    Home page
{% endblock %}

{# Body of the page #}
{% block content %}
    <div class="container mx-auto h-screen flex flex-col items-center justify-center">
        <h1 class="text-3xl font-bold">Welcome to the Home Page</h1>
        <p class="mt-4">
            This is a simple example of a Django template using Tailwind CSS.
        </p>

        <a href="{% url 'core:schema-swagger-ui' %}" class="mt-4 flex items-center gap-2 bg-primary shadow-none py-2.5 px-8 rounded-xl font-medium text-whiteColor transition-colors duration-300 ease
                 hover:bg-primary-900 hover:shadow-md focus:ring-2 focus:ring-primary-500 focus:ring-offset-1">
            Login with your @ictuniversity.edu.cm account
        </a>
    </div>
{% endblock %}

{# Extra javascript #}
{% block javascript %}
{% endblock %}