{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Primary Meta Tags -->
<meta name="title" content="The ICTU Complaint Desk: A CRS for the ICT University" />
<meta name="description" content="Enter our Complaint Resolution System (CRS), The ICTU Complaint Desk – a simple, structured way for students to submit, track, and resolve issues with real-time updates." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://ictucd.live" />
<meta property="og:title" content="The ICTU Complaint Desk: A CRS for the ICT University" />
<meta property="og:description" content="Enter our Complaint Resolution System (CRS), The ICTU Complaint Desk – a simple, structured way for students to submit, track, and resolve issues with real-time updates." />
<meta property="og:image" content="https://raw.githubusercontent.com/Joel-Fah/images/refs/heads/main/ictucd-meta-img.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://ictucd.live" />
<meta property="twitter:title" content="The ICTU Complaint Desk: A CRS for the ICT University" />
<meta property="twitter:description" content="Enter our Complaint Resolution System (CRS), The ICTU Complaint Desk – a simple, structured way for students to submit, track, and resolve issues with real-time updates." />
<meta property="twitter:image" content="https://raw.githubusercontent.com/Joel-Fah/images/refs/heads/main/ictucd-meta-img.png" />

<!-- Additional Meta Tags -->
<meta name="robots" content="index, follow">
<meta name="theme-color" content="#050041">

<!-- Canonical Link -->
<link rel="canonical" href="https://ictucd.live">

{# Favicon #}
<link rel="shortcut icon" href="{% static 'images/ictucd-online.ico' %}" type="image/x-icon">